.menu{
    width: 1440px;
    height: 48px;
    flex-shrink: 0;  
    background: #BC2323; 
}
.menu-texto{
    position: absolute;
    left: 1200px;
color: #000;
font-size: 16px;
font-family: Inter;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 4.8px;

}
.cabecalho{
    width: 1440px;
height: 329px;
flex-shrink: 0;
background: linear-gradient(180deg, #BC2323 0%, #9D1C1C 65.63%);
}
.cabecalho-img{
    width: 221px;
    position: absolute;
    left: 100px;

flex-shrink: 0;
}
.cabecalho-texto{
    display: flex;
    position: absolute;
    top: 130px;
    left: 480px;
    display: flex;
    width: 600px;
height: 142px;
flex-direction: column;
flex-shrink: 0;
color: #000;
text-align: center;
font-size: 36px;
font-family: Inter;
letter-spacing: 3.6px;
}
.corpo{
    display: grid;
    text-align: center;
    grid-template-columns: 30% 30% 30%;
    position: absolute;
    
    width: 1440px;
    height: 640px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #9D1C1C 0%, rgba(157, 28, 28, 0.00) 100%);
}
.corpo-itens{

    text-align: center;
    padding: 16px 0;
}
.corpo-itens-img{
    width: 280px;
}
.rodape{
    width: 1440px;
height: 114px;
flex-shrink: 0;
background: linear-gradient(180deg, rgba(188, 35, 35, 0.00) 0%, #BC2323 100%);
}
.rodape-texto{
    color: #000;
font-size: 20px;
font-family: Inter;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 6px;
}